.node{
    min-width: 110px;
    min-height: 35px;
    display: inline-block;
    white-space: nowrap;
    line-height: 30px;
    vertical-align: bottom;
    border-radius: 5px;
    background-color: var(--rf-bg-container);
}
.nodeTable{
    min-width: 110px;
    margin: auto;
}
.varNode{
    border: solid var(--rf-primary) 1px;
}
.conditionNode{
    border: solid var(--rf-border) 1px;
}
.actionNode{
    border: solid var(--rf-danger) 1px;
    text-align: left;
    padding-left: 5px;
    line-height: 30px;
    min-height: 30px;
}
.vertical-line{
    width: 2px;
    background-color: var(--rf-success);
    height: 20px;
    margin: 0px auto;
}
.nodeContainer{
    min-width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.operations{
    padding-left: 5px;
    padding-right: 3px;
    font-size: 15pt;
    color: var(--rf-primary);
    vertical-align:middle;
}