.col-resize-trigger {
    cursor: col-resize;
    width: 2px;
    float: right;
}

.cell {
    text-align: center;
    border: 1px solid var(--rf-border) !important;
    min-width: 90px;
}

.top-condition-cell {
    background-color: var(--rf-primary-bg);
    padding: 5px !important;
}

.left-condition-cell {
    background-color: var(--rf-success-bg);
    padding: 5px !important;
}
